# ===== environments / junk =====
.venv/
__pycache__/
*.pyc
.DS_Store
*.log
*.pid

# ===== large data / outputs =====
data/
datasets/
results/
figures/
kmers/
kmers_proj/
latents/
models/
ml_tasks/

# ===== genome related =====
*.fna
*.fa
*.fastq
*.fq
*.bam
*.sam
*.vcf
*.gz
ALL_GENOMES*
genomes_*.txt
*_genomes.txt

# ===== streamlit =====
.streamlit/secrets.toml
